@import "~bootstrap/scss/bootstrap.scss";
body {
  background: black;
  height: 100%;
  color: lawngreen;
}
.card {
  border-radius: 1rem;
  margin: 0.5vw;
}
.row1 {
  margin: 1vh 3vw;
}
.row2 {
  margin: 3vh 3vw;
}
.row3 {
  margin: 1vh 3vw;
}
.rowSort {
  margin: 1vh 3vw;
}

.hearts::before {
  content: "\2665";
  font-size: 2vw;
  color: red;
}
.hearts-rotate::before {
  content: "\2665";
  font-size: 2vw;
  color: red;
  transform: rotate(180deg);
}
.spades::before {
  content: "\2660";
  font-size: 2vw;
  color: black;
}
.spades-rotate::before {
  content: "\2660";
  font-size: 2vw;
  color: black;
  transform: rotate(180deg);
}
.clubs::before {
  content: "\2663";
  font-size: 2vw;
  color: black;
}
.clubs-rotate::before {
  content: "\2663";
  font-size: 2vw;
  color: black;
  transform: rotate(180deg);
}
.diamonds::before {
  content: "\2666";
  font-size: 2vw;
  color: red;
}
.diamonds-rotate::before {
  content: "\2666";
  font-size: 2vw;
  color: red;
  transform: rotate(180deg);
}
.value {
  font-size: 3vw;
  color: black;
  font-family: "Gentium Basic", serif;
}
